@model List<string>

<div class="container">
    <div class="row d-flex" style="margin-bottom: 10px;">
        @foreach (var cantante in Model)
        {
            <div class="col-auto">
                <div class="card" style="width: 18rem; margin-bottom: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">@cantante</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
